<p style="color: green"><%= notice %></p>

<%= render @customer %>

<div>
  <%= link_to "Edit this customer", edit_customer_path(@customer), class: "btn btn-primary" %> |
  <%= link_to "Back to customers", customers_path, class: "btn btn-primary" %>
  <%= button_to "Destroy this customer", @customer, method: :delete, class: "btn btn-outline-danger my-2" %>
</div>

<% if @customer.orders.present? %>
  <table>
    <thead>
    <tr>
      <th>Order ID</th>
      <th>Product Name</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
      <% @customer.orders.each do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td><%= order.product_name %></td>
          <td><%= link_to 'Show', order, class: "btn btn-primary mx-1" %></td>
          <td><%= link_to 'Edit', edit_order_path(order), class: "btn btn-primary mx-1" %></td>
          <td><%= button_to "Destroy", order, method: :delete, data: { turbo_confirm: "Are you sure?"}, class: "btn btn-outline-danger mx-1" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
